.ReactVirtualized__Table__headerRow {
    border-radius: 12px;
    text-transform : uppercase;
}
.ReactVirtualized__Table__row{
    padding: 0 14px;
    cursor: pointer;
}
.ReactVirtualized__Table__row:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.ReactVirtualized__Table__row:nth-child(even){
    background-color: #ddd;
}
/* Estilos para tema oscuro */
@media (prefers-color-scheme: dark) {
    .ReactVirtualized__Table__row{
        padding: 0 14px;
    }

    .ReactVirtualized__Table__row:nth-child(even){
        background-color: #ddd;
    }
    .ReactVirtualized__Table__row:hover{
        background-color: #2D3748;
    }
}